* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
a{
    color: #fcf9f9;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px ;
    background: rgb(118, 74, 162);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999;
}
.navbar .logo {
    font-size: larger;
    font-weight: 600;
}
.navbar ul{
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul li{
    list-style: none;
    margin-left: 30px;
}
.navbar ul li a{
    font-size: large;
    font-weight: 300;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: rgb(241, 13, 13);
}
.Home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 10% 0;
    color: #0a0a0a;
}
.home-info h1 {
    font-size: 55px;
}
.home-info h2{
    font-size: 30px;
    margin-top:-15px ;
}
.home-info p{
    font-size: 15px;
    margin: 10px 0 20px;
}
.home-info .btn-1{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: red;
    border: 2px solid rgb(209, 31, 31);
    border-radius: 30px;
    box-shadow: 0 0 8px;
    font-size: 15px;
    color: #1f242d;
    font-weight: 500;
    transition:.4s;
}
.btn-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:60;
    justify-items: left;
    width: 50px;
    height: 70px;
    justify-content: left;

    
}
.btn:hover{
    background: transparent;
    color: red;
    box-shadow: none;
}
.home-img .img-box{
    width: 32vw;
    height: 32vw;

}
.home-img .img-box .img-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.home-img .img-box .img-item img{
    position: relative;
    display: block;
}
footer{
    background:rgb(118, 74, 162) ;
}
.footer-1{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    padding: 50px;
    margin: 0;
}
.about-info h1{
    color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:350%;
    margin-bottom: 10px;
}
.about-info h2{
    color: red;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 150%;
    margin-top:-5px ;
}
.company{
    color: #070707;
    text-align: center;
    list-style: none;
    
}
.about-info p {
    color: #0e0d0d;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:180%;
    margin-bottom: 15px;
}
.contrainer3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.card{
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,2);
    margin: 20px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 25px;
    margin-bottom: 8px;
}
.card-content p{
    font-size: 15px;
    line-height: 1.3;
}
.card-content .card1 {
    color:#fff;
    display: inline-block;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
    font-size: large;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: x-large;
    margin-bottom: -80px;
}